 /* body 
  background-color:lightgrey;
} */
body {
  background-image: linear-gradient(white, lightblue);
}
.p {
    color:rgb(24, 8, 8);
    font-family:"Times New Roman", Times, serif;
    border: 2px solid black;
    align-content: #4CAF50 solid 10px;
    margin: auto;  
    padding: 10px;
    text-align: center;
}
img {
  width: 40%;
  height: auto;
}
.jumbotron {
    margin-top: 50px;
}

.jumbotron-fluid {
    height: auto;
}